@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
#body {
    background: #1e1e2e;
    font-family: "Urbanist", sans-serif;
}
#content {
    background: #313244;
    text-align: center;
}
p {
    color: #cdd6f4;
}
h1 {
    color: #cdd6f4;
}
h2 {
    color: #bac2de;
}
h3 {
    color: #a6adc8;
}
aside {
    color: #cdd6f4;
    text-align: center;
    font-size: 17px;
    font-style: italic;
}
a:link {
    color: #b4befe;
    text-decoration: none;
}
a:visited {
    color: #b4befe;
    text-decoration: none;
}
a:hover {
    color: #ffff;
    text-decoration: none;
}
a:active {
    color: #74c7ec;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313244;
}
li {
    display: inline;
    color: #cdd6f4;
}
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}