@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
#body {
    background: #232634;
    font-family: "Urbanist", sans-serif;
}
#title {
    text-align: center;
    color: #c6d0f5;
}
#content {
    text-align: center;
    background: #303446;
    color: #c6d0f5;
}
a:link {
    color: #8caaee;
    text-decoration: none;
}
a:visited {
    color: #8caaee;
    text-decoration: none;
}
a:hover {
    color: #b5bfe2;
    text-decoration: none;
}
a:active {
    color: #949cbb;
    text-decoration: none;
}